# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/examples/app/target/
/generator/target/
/examples/translations/target/
generated-classes
generated-sources
/examples/dependencies/target/
/wildfly/wildfly-translations-feature-pack/common/target
/wildfly/wildfly-translations-feature-pack/ejb3-translations/target
/wildfly/wildfly-translations-feature-pack/galleon-pack/target
/wildfly/wildfly-translations-feature-pack/target
/wildfly/wildfly-translations-feature-pack/translations/appclient-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/batch-jberet-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/bean-validation-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/bootable-jar-runtime-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/cli-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-common-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-ejb-infinispan-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-infinispan-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-jgroups-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-singleton-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-singleton-server-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/clustering-web-undertow-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/connector-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/controller-client-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/controller-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/core-management-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/datasources-agroal-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/deployment-repository-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/deployment-scanner-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/discovery-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/domain-http-interface-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/domain-management-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/ee-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/ejb3-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/elytron-oidc-client-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/elytron-tool-wrapper-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/elytron-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/embedded-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/expansion-pack-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/health-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/host-controller-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/iiop-openjdk-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/insights-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/installation-manager-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/io-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jaxrs-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jdr-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jmx-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jpa-hibernate6-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jpa-hibernatesearch-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jpa-spi-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jpa-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/jsf-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/legacy-keycloak-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/legacy-opentracing-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/logging-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/mail-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/management-client-content-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/messaging-activemq-injection-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/messaging-activemq-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/metrics-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-config-smallrye-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-fault-tolerance-smallrye-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-health-smallrye-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-jwt-smallrye-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-lra-coordinator-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-lra-participant-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-metrics-smallrye-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-openapi-smallrye-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-messaging-smallrye-amqp-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-messaging-smallrye-common-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-messaging-smallrye-config-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-messaging-smallrye-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-messaging-smallrye-kafka-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-streams-operators-smallrye-cdi-provider-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-reactive-streams-operators-smallrye-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/microprofile-telemetry-smallrye-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/mod-cluster-extension-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/naming-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/network-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/observability-micrometer-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/observability-opentelemetry-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/patching-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/picketlink-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/platform-mbean-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/pojo-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/process-controller-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/protocol-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/remoting-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/request-controller-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/rts-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/sar-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/security-manager-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/security-subsystem-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/server-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/system-jmx-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/threads-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/transactions-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/undertow-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/webservices-server-integration-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/weld-common-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/weld-ejb-translations/target/
/wildfly/wildfly-translations-feature-pack/translations/xts-translations/target/
